@charset "UTF-8";


 /* Corpo */

body {
    background-image: linear-gradient(to right, #CAE6DF, #FBE1EE);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* Topo Frete */

#frete-topo {
    background-color: #723564;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #ffffff;
    margin: 0;
    padding: 4px;
    text-align: center;
    font: italic 18px 'Times New Roman', Times, serif;
}

/* Base Topo */

.base-topo {
    display: flex;
    justify-content: space-evenly;
}

/* Pesquisar topo */

.pesquisa-topo {
  flex-direction: column;
}

/* Botão Pesquisar */

#pesquisar {
  margin-top: 10px;
}

#pesquisar input[type="search"]{
  border: 1px solid #bda560;
  border-radius: 10px;
  padding: 10px 0 10px 30px;
  outline: none;
  background: url(../assets/icones/pesquisar-f.png) no-repeat 20px center;
  background-size: 20px;
  text-align: center;
  font: italic 15px 'Times New Roman', Times, serif;
  color: rgb(83, 83, 83);
}

/*Menu mobile*/

.menu-lateral-icon {
  display: none;
  margin: 5% 0 0 30%;
  align-items: center;
}

.menu-lateral-icon img {
  width: 35px; 
  height: 35px;
  margin-bottom: 0;
}

.menu-lateral-icon p {
  font: bolder italic 18px 'Times New Roman', Times, serif;
  margin-left: 5px;
}

/* Drop Navegação */

.nav-dropdown {
  background-color: #FBE1EE;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: .5s;
}

.nav-dropdown.abrir-menu {
  width: 40%;
}

.nav-dropdown.abrir-menu ~ .overlay-menu {
  display: block;
}

.btn-fechar-menu {
  display: flex;
  background-color: #CAE6DF;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5e381a;
}

.nav-dropdown .btn-fechar-menu img {
  width: 30px;
  height: 30px;
  margin-right: 5%;
}

.nav-dropdown .btn-fechar-menu p {
  font: 30px grafolita, sans-serif;
  color: #5e381a;
  margin-left: 5%;
}

#hr-menu-drop {
  border-bottom: 1px solid #9c5d2c;
  width: 70%;
}

#drop-menu-categorias {
  font: italic bolder 22px 'Times New Roman', Times, serif;
  text-decoration: none;
  color: #5e381a;
  background-color: #CAE6DF;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #9c5d2c;
  text-align: center;
  margin: 20px auto;
}

.nav-atend {
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
}

.nav-atend:hover {
  background-color: #c4b2bb;
}

.nav-atend a {
  font: italic bolder 22px 'Times New Roman', Times, serif;
  text-decoration: none;
  color: #5e381a;
  margin-left: 40px;
}

.nav-atend img {
  margin-left: 0;
  width: 35px;
  height: 35px;
}

/*Rastrear Pedido*/

.info-rastrear {
  border: 1px solid #b1b0b0;
  border-radius: 5px;
  padding-bottom: 15px;
  place-items: center;
  margin: 10px 10%;
  justify-content: left;
  overflow: hidden;
}

#abrir-rastrear {
  display: none;
}

.info-rastrear p {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 2px;
  font: italic bolder 17px 'Times New Roman', Times, serif;
}

.info-rastrear div {
  display: flex;
  padding: 0 10px;
}

.info-rastrear button{
  background-color: #853c75;
  color: #fff;
  width: 70px;
  height: 50px;
  border-radius: 7px;
  border: none;
  font: italic bolder 15px 'Times New Roman', Times, serif;
  margin-left: 5px;
}

.info-rastrear input {
  background: none;
  border: 1px solid #b1b0b0;
  border-radius: 7px;
  padding: 15px;
  width: 100%;
  height: 20px;
  outline: none;
  margin-left: 10px;
}

/*Atendimento*/

.info-atendimento {
  border: 1px solid #b1b0b0;
  border-radius: 5px;
  padding-bottom: 15px;
  place-items: center;
  margin: 10px 10%;
  justify-content: left;
  overflow: hidden;
}

#abrir-atendimento {
  display: none;
}

.info-atend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.info-atend .img-atend {
  margin-right: 10px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.info-atend-div p {
  margin: 0;
  padding: 0;
}

#info-atend-p-1 {
  font: italic 15px 'Times New Roman', Times, serif;
}

#info-atend-p-2 {
  font: italic bolder 15px 'Times New Roman', Times, serif;
}

#hr-atend {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #b1b0b0;
}

.info-horario {
  margin-left: 20px;
  margin-top: 10px;
}

.info-horario p {
  margin: 2px;
  padding: 0;
}

/*Conteudo nav drop*/

.nav-conf {
  display: flex;
  align-items: center;
  padding: 25px 0 25px 40px;
}

.nav-conf:hover {
  background-color: #c4b2bb;
}

.nav-dropdown ul li a {
  font: italic bolder 22px 'Times New Roman', Times, serif;
  text-decoration: none;
  color: #5e381a;
  margin-left: 40px;
}

.nav-dropdown ul {
  list-style-type: none;
  padding: 0;
}

.nav-dropdown ul li {
  display: inline-block;
}

.nav-dropdown img {
  margin-left: 0;
  width: 35px;
  height: 35px;
}

.overlay-menu {
  background-color: #000000ab;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

/* Topo Logo */

#logo-img {
    transition: transform 0.5s ease-in-out; 
}

#logo-img:hover {
    transform: scale(1.2);
}

#logo-img img {
    width: 250px; 
    height: 150px; 
    padding: 0;
}

/* Topo Login */

.login-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out; 
}

.login-icon img {
    width: 35px; 
    height: 35px;
}

.login-icon p {
  font: bolder italic 18px 'Times New Roman', Times, serif;
  margin-left: 5px;
}

.login-icon:hover {
  transform: scale(1.2);
}

/* Formulario Login */

  #meu-dropdown {
    position: relative; /* Garante que o menu dropdown seja posicionado em relação ao botão */
    right: 165px;
  }
  
  #meu-dropdown ul {
    list-style-type: none; /* Remove os marcadores de lista padrão */
    padding: 0;
    margin: 0;
    position: absolute; /* Permite que o menu dropdown flutue sobre outros elementos */
    min-width: 170px;
    background-color: #FBE1EE;;
    border: 1px solid #5e381a;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .drop-conf {
    display: flex;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .drop-conf img {
    width: 20px; 
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .drop-conf:hover {
    background-color: #ceb9c3;
  }

  #meu-dropdown ul li {
    padding: 12px 16px;
    font: italic 18px 'Times New Roman', Times, serif;
    color: #000000;
  }
  
  #meu-dropdown ul li a {
    text-decoration: none;
    color: black;
    display: block;
  }
  

/* Topo Carrinho */


.carrinho-icon img {
    width: 35px; 
    height: 35px;
}

.icones-topo {
  flex-direction: column; /* Alinha os ícones um abaixo do outro em dispositivos móveis */
}

.carrinho-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out; 
}

.carrinho-icon p {
  font: bolder italic 18px 'Times New Roman', Times, serif;
  margin-left: 5px;
}

.carrinho-icon:hover {
    transform: scale(1.2);
}

/* Drop Carrinho */

.carrinho-dropdown {
  background-color: #FBE1EE;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: .5s;
}

.carrinho-dropdown.abrir-carrinho {
  width: 40%;
}

.carrinho-dropdown.abrir-carrinho ~ .overlay-carrinho {
  display: block;
}

.btn-fechar-carrinho{
  display: flex;
  background-color: #CAE6DF;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5e381a;
}

.carrinho-dropdown .btn-fechar-carrinho img {
  width: 30px;
  height: 30px;
  margin-left: 5%;
}

.carrinho-dropdown .btn-fechar-carrinho p {
  font: 30px grafolita, sans-serif;
  color: #5e381a;
  margin-right: 5%;
}

.cont-carrinho {
  margin: 15% 5% 0 5%;
  text-align: center;
}

.cont-carrinho p {
  font: bolder italic 40px 'Times New Roman', Times, serif;
  color: #5e381a;
  text-shadow: 1px 1px 2px #7a7a7a;
}

.cont-carrinho img {
  width: 100px;
  height: 100px;
}

.valor-carrinho {
  text-align: center;
  margin-top: 30%;
}

.valor-carrinho p {
  font: bolder 25px 'Times New Roman', Times, serif;
  color: #5e381a;
  text-shadow: 1px 1px 2px #7a7a7a;
}

.comprar-carrinho {
  text-align: center;
  margin-top: 30px;
}

.comprar-carrinho p {
  font: italic bolder 17px 'Times New Roman', Times, serif;
  color: #5e381a;
  text-decoration: underline;
  margin-top: 30px;
}

.comprar-carrinho p:hover {
  color: #a3602d;
}

.comprar-carrinho button {
  background-color: #bd55a6;
  font: italic 20px 'Times New Roman', Times, serif;
  color: #fff;
  border: 1px solid #853c75;
  padding: 15px 35%;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comprar-carrinho button:hover {
  background-color: #723564;
}

.overlay-carrinho {
  background-color: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

/* Navegação */

.container-menu {    
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 0 auto 10px auto;
    background-color: #FFE082;
    box-shadow: 5px 5px 5px 5px#86787f5b;
    border-radius: 10px;    
}

.container-menu ul{
    display: flex;
    list-style-type: none;
}

.nav-ico {   
    display: flex; 
    font: italic bolder 18px 'Times New Roman', Times, serif;
    transition: transform 0.3s ease-in-out;
}

.nav-ico img {
    width: 30px;
    height: 30px;
}

.nav-ico:hover {        
    transform: scale(1.2);
}

.nav-ico:hover a {
    color: #b46b33;
}

.nav-ico li {
    margin-top: 7px;  
    margin-left: 5px;  
    margin-right: 20px;
}

.nav-ico a {
    text-decoration: none;
    color: #5e381a;
    font-weight: bold;
}

/**/

.menu-inferior {
  display: none;
  background-color: #FBE1EE;
  border-top: 1px solid #5e381a;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0%;
  z-index: 66666;
  overflow: hidden;
  transition: .5s;
}


.menu-inferior ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}

.inferior-cont {
  text-align: center;
}

.inferior-cont img {
  width: 20px;
  margin-bottom: 2px;
}

.inferior-cont li {
  font: bolder italic 13px 'Times New Roman', Times, serif;
}

/*Pesquisa inferior*/

.pesquisa-inferior {
  display: none;
  background-color: #fce39b;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 0%;
  transition: .5s;
  z-index: 6666;
}

.pesquisa-inferior.pesquisarInferior {
  bottom: 62px;
  height: 7%;
}

.pesquisa-inferior.pesquisarInferior ~ .overlay-inf {
  display: block;
}

.pesq-inf {
  border: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 0%;
  overflow: hidden;
  transition: .5s;
  background: url(../assets/icones/pesquisar-f.png) no-repeat;
  background-size: 20px;
  background-position: 95%;
  font: italic 15px 'Times New Roman', Times, serif;
  padding-left: 5%;
  color: rgb(83, 83, 83);
}

.pesq-inf.pesqInferior {
  bottom: 62px;
  height: 7%;
}

.overlay-inf {
  background-color: #000000ab;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5555;
  display: none;
}


/* Responsividade */

@media only screen and (max-width: 1349px) {

    .icones-topo {
      flex-direction: column; /* Alinha os ícones um abaixo do outro em dispositivos móveis */
    }

    .container-menu{
        display: none;
    }

    

    .menu-lateral-icon {
      display: flex;
  }

}

 /* Tablet */

@media only screen and (max-width: 1025px) {

    /*Frete*/

    #frete-topo {
        background-color: #723564;
        color: #ffffff;
        margin: 0;
        padding: 5px;
        text-align: center;
        font: italic 13px 'Times New Roman', Times, serif;
    }

    /*Logo*/

    #logo-img img {
        width: 200px; 
        height: 120px; 
        padding: 0;
    }

    /*Icones*/

    .icones-topo {
      flex-direction: column; /* Alinha os ícones um abaixo do outro em dispositivos móveis */
    }

    .login-icon img {
      width: 25px; 
      height: 25px;
  }

  .login-icon p {
    font: bolder italic 15px 'Times New Roman', Times, serif;
  }

  .carrinho-icon img {
    width: 25px; 
    height: 25px;
  }

  .carrinho-icon p {
    font: bolder italic 15px 'Times New Roman', Times, serif;
  }

  .menu-topo-icon img {
    width: 25px; 
    height: 25px;
  }

  .menu-topo-icon p {
    font: bolder italic 15px 'Times New Roman', Times, serif;
  }

    /* Form Login*/

    #meu-dropdown {
        right: 155px;
        bottom: 5px;
      }

    #meu-dropdown ul {
        min-width: 150px;
      }
      
      .drop-conf img {
        width: 15px; 
        height: 15px;
      }
    
      #meu-dropdown ul li {
        font: italic 13px 'Times New Roman', Times, serif;
      }

      /* Drop Navegação */

  .nav-dropdown .btn-fechar-menu img {
    width: 30px;
    height: 30px;
  }

  .nav-conf {
    padding: 15px 0 15px 40px;
  }

  .nav-dropdown ul li a {
    font: italic bolder 18px 'Times New Roman', Times, serif;
  }
  
  .nav-dropdown img {
    width: 30px;
    height: 30px;
  }

  .nav-dropdown .btn-fechar-menu p {
    font: 30px grafolita, sans-serif;
  }

  /* drop carrinho */

  .carrinho-dropdown .btn-fechar-carrinho img {
    width: 30px;
    height: 30px;
  }
  
  .carrinho-dropdown .btn-fechar-carrinho p {
    font: 30px grafolita, sans-serif;
  }

  .cont-carrinho p {
    font: bolder italic 45px 'Times New Roman', Times, serif;
  }

  .valor-carrinho p {
    font: bolder 30px 'Times New Roman', Times, serif;
  }

  .comprar-carrinho p {
    font: italic bolder 16px 'Times New Roman', Times, serif;
    margin-top: 20px;
  }

  .comprar-carrinho button {
    font: italic 18px 'Times New Roman', Times, serif;
    padding: 15px 35%;
  }

  .cont-carrinho img {
    width: 70px;
    height: 70px;
  }

  /*Menu fixo*/

  .menu-lateral-icon img {
    width: 25px;
    height: 25px; /* ajuste o tamanho conforme necessário */
  }

  .menu-lateral-icon p {
    font: bolder italic 15px 'Times New Roman', Times, serif;
  }

  #pesquisar-drop input[type="search"]{
    padding: 7px 0 7px 9%;
    background-size: 20px;
    font: italic 14px 'Times New Roman', Times, serif;
  }

  /* Rastrear Pedido */

  .nav-atend a {
    font: bolder italic 18px 'Times New Roman', Times, serif;
  }
  .nav-atend img {
    width: 30px;
    height: 30px; /* ajuste o tamanho conforme necessário */
  }

  .info-rastrear p {
    font: italic bolder 15px 'Times New Roman', Times, serif;
    }
    .info-rastrear button{
      width: 55px;
      height: 40px;
      font: italic bolder 12px 'Times New Roman', Times, serif;
    }
    .info-rastrear input {
      padding: 10px;
      height: 17px;
      margin-top: 3px;
    }

    .info-atend .img-atend {
      width: 23px;
      height: 23px;
    }
    
    .info-atend-div p {
      margin: 0;
      padding: 0;
    }
    
    #info-atend-p-1 {
      font: italic 14px 'Times New Roman', Times, serif;
    }
    
    #info-atend-p-2 {
      font: italic bolder 14px 'Times New Roman', Times, serif;
    }

    #drop-menu-categorias {
      font: italic bolder 18px 'Times New Roman', Times, serif;
      padding: 10px;
      margin: 15px auto;
    }

}
  

  /* Celular */

  @media only screen and (max-width: 606px) {

    /*Frete*/

    #frete-topo {
        background-color: #723564;
        color: #ffffff;
        margin: 0;
        padding: 5px;
        text-align: center;
        font: italic 13px 'Times New Roman', Times, serif;
    }

    /*Logo*/


    #logo-img img {
        width: 150px; 
        height: 100px; 
        padding: 0;
    }

    /*Icones*/

    .icones-topo {
      flex-direction: column; /* Alinha os ícones um abaixo do outro em dispositivos móveis */
    }

    .login-icon img {
        width: 20px; 
        height: 20px;
    }

    .login-icon p {
      font: bolder italic 12px 'Times New Roman', Times, serif;
    }

    .carrinho-icon img {
      width: 20px; 
      height: 20px;
    }

    .carrinho-icon p {
      font: bolder italic 12px 'Times New Roman', Times, serif;
    }

    .menu-topo-icon img {
      width: 20px; 
      height: 20px;
      margin-left: 10px;
    }

    .menu-topo-icon p {
      font: bolder italic 12px 'Times New Roman', Times, serif;
      margin-right: 40px;
    }

    /* Form Login*/

    #meu-dropdown {
        right: 145px;
        bottom: 5px;
      }

    #meu-dropdown ul {
        min-width: 140px;
      }
      
      .drop-conf img {
        width: 12px; 
        height: 12px;
      }
    
      #meu-dropdown ul li {
        font: italic 10px 'Times New Roman', Times, serif;
      }

    /* Pesquisar */

    #pesquisar {
      display: none;
    }


    /* Drop Navegação */

  .nav-dropdown .btn-fechar-menu img {
    width: 20px;
    height: 20px;
  }

  .nav-conf {
    padding: 15px 0 15px 15px;
  }

  .nav-dropdown ul li a {
    font: italic bolder 13px 'Times New Roman', Times, serif;
  }
  
  .nav-dropdown img {
    width: 20px;
    height: 20px;
  }

  .nav-dropdown.abrir-menu {
    width: 55%;
  }

  .nav-dropdown .btn-fechar-menu p {
    font: 20px grafolita, sans-serif;
  }

  /* drop carrinho */

  .carrinho-dropdown.abrir-carrinho {
    width: 55%;
  }

  .carrinho-dropdown .btn-fechar-carrinho img {
    width: 20px;
    height: 20px;
  }
  
  .carrinho-dropdown .btn-fechar-carrinho p {
    font: 20px grafolita, sans-serif;
  }

  .cont-carrinho p {
    font: bolder italic 20px 'Times New Roman', Times, serif;
  }

  .valor-carrinho p {
    font: bolder 15px 'Times New Roman', Times, serif;
  }

  .comprar-carrinho p {
    font: italic bolder 11px 'Times New Roman', Times, serif;
    margin-top: 10px;
  }

  .comprar-carrinho button {
    font: italic 12px 'Times New Roman', Times, serif;
    padding: 10px 30%;
  }

  .cont-carrinho img {
    width: 40px;
    height: 40px;
  }

  /*Menu fixo*/
  
  .menu-lateral-icon {
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 1px;
  }

  .menu-lateral-icon img {
    width: 20px;
    height: 20px; /* ajuste o tamanho conforme necessário */
  }

  .menu-lateral-icon p {
    font: bolder italic 13px 'Times New Roman', Times, serif;
  }

  #pesquisar-drop input[type="search"]{
    padding: 5px 0 5px 10%;
    background-size: 15px;
    font: italic 12px 'Times New Roman', Times, serif;
  }

  /*Menu inferior*/

  .menu-inferior {
    display: block;
  }

  #pesquisa-inferior {
    display: block;
  }

  /* Rastrear Pedido */

  .nav-atend {
    padding: 0 0 0 15px;
  }

  .nav-atend a {
    font: bolder italic 13px 'Times New Roman', Times, serif;
  }
  .nav-atend img {
    width: 20px;
    height: 20px; /* ajuste o tamanho conforme necessário */
  }

    .info-rastrear p {
    font: italic bolder 8px 'Times New Roman', Times, serif;
    }

    .info-rastrear button{
      width: 35px;
      height: 25px;
      font: italic bolder 8px 'Times New Roman', Times, serif;
      margin-top: 3px;
    }
    .info-rastrear input {
      padding: 5px;
      height: 12px;
      margin-top: 3px;
    }

    .info-atend {
      margin: 5px;
    }

    .info-atend .img-atend {
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
    
    .info-atend-div p {
      margin: 0;
      padding: 0;
    }
    
    #info-atend-p-1 {
      font: italic 8px 'Times New Roman', Times, serif;
    }
    
    #info-atend-p-2 {
      font: italic bolder 8px 'Times New Roman', Times, serif;
    }

    .info-atend {
      margin-bottom: 10px;
    }

    .info-horario {
      margin-top: 5px;
    }

    #drop-menu-categorias {
      font: italic bolder 13px 'Times New Roman', Times, serif;
      padding: 10px;
      margin: 5px auto;
    }
}