@charset "UTF-8";


 /* Corpo */

body {
    background-image: linear-gradient(to right, #CAE6DF, #FBE1EE);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* Topo Frete */

#frete-topo {
    background-color: #723564;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #ffffff;
    margin: 0;
    padding: 4px;
    text-align: center;
    font: italic 18px 'Times New Roman', Times, serif;
}

/* Base Topo */

.base-topo {
    display: flex;
    justify-content: space-evenly;
}

/* Botão Pesquisar */

#pesquisar {
  margin-top: 50px;
}

form input[type="search"]{
  border: 1px solid #5e381a;
  border-radius: 20px;
  width: 100%;
  padding: 6px 0 6px 30px;
  outline: none;
  background: url(../assets/icones/procurar.png) no-repeat 20px center;
  background-size: 15px;
  text-align: center;
  font: italic 15px 'Times New Roman', Times, serif;
  color: rgb(83, 83, 83);
}

/* Topo Logo */


#logo-img {
    transition: transform 0.5s ease-in-out; 
}

#logo-img:hover {
    transform: scale(1.2);
}

#logo-img img {
    width: 250px; 
    height: 150px; 
    padding: 0;
}

/* Topo Login */

.login-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out; 
}

.login-icon img {
    width: 35px; 
    height: 35px;
}

.login-icon p {
  font: bolder italic 18px 'Times New Roman', Times, serif;
  margin-left: 5px;
}

.login-icon:hover {
  transform: scale(1.2);
}

/* Formulario Login */

#meu-dropdown {
    position: relative; /* Garante que o menu dropdown seja posicionado em relação ao botão */
    right: 165px;
  }
  
  #meu-dropdown ul {
    list-style-type: none; /* Remove os marcadores de lista padrão */
    padding: 0;
    margin: 0;
    position: absolute; /* Permite que o menu dropdown flutue sobre outros elementos */
    min-width: 170px;
    background-color: #FBE1EE;;
    border: 1px solid #5e381a;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .drop-conf {
    display: flex;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .drop-conf img {
    width: 20px; 
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .drop-conf:hover {
    background-color: #ceb9c3;
  }

  #meu-dropdown ul li {
    padding: 12px 16px;
    font: italic 18px 'Times New Roman', Times, serif;
    color: #000000;
  }
  
  #meu-dropdown ul li a {
    text-decoration: none;
    color: black;
    display: block;
  }
  

/* Topo Carrinho */


#carrinho-icon img {
    width: 35px; 
    height: 35px;
}

.icones-topo {
  flex-direction: column; /* Alinha os ícones um abaixo do outro em dispositivos móveis */
}

#carrinho-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out; 
}

#carrinho-icon p {
  font: bolder italic 18px 'Times New Roman', Times, serif;
  margin-left: 5px;
}

#carrinho-icon:hover {
    transform: scale(1.2);
}

/*Menu topo*/

#menu-topo-icon img {
  width: 35px; 
  height: 35px;
}

#menu-topo-icon {
  display: none;
  align-items: center;
  transition: transform 0.5s ease-in-out; 
}

#menu-topo-icon p {
  font: bolder italic 18px 'Times New Roman', Times, serif;
  margin-left: 5px;
}

#menu-topo-icon:hover {
  transform: scale(1.2);
}

/* Navegação */

.container-menu {    
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 0 auto;
    background-color: #F8EE9C;
    box-shadow: 5px 5px 5px 5px#86787f5b;
    border-radius: 15px;    
}


.container-menu ul{
    display: flex;
    list-style-type: none;
}

.nav-ico {   
    display: flex; 
    font: italic bolder 18px 'Times New Roman', Times, serif;
    transition: transform 0.3s ease-in-out;
}

.nav-ico img {
    width: 30px;
    height: 30px;
}

.nav-ico:hover {        
    transform: scale(1.2);
}

.nav-ico:hover a {
    color: #b46b33;
}

.nav-ico li {
    margin-top: 7px;  
    margin-left: 5px;  
    margin-right: 20px;
}

.nav-ico a {
    text-decoration: none;
    color: #5e381a;
    font-weight: bold;
}

/* Navegação para Celular*/

#icon-menu {
    display: none;
    margin-top: 7px;
    margin-left: 40px;
}

#icon-menu img {
    width: 15px;
    height: 15px;
}

/* Drop Navegação */

#nav-dropdown {
    position: relative; /* Garante que o menu dropdown seja posicionado em relação ao botão */
    width: 100%;

  }
  
  #nav-dropdown ul {
    list-style-type: none; /* Remove os marcadores de lista padrão */
    background-color: #F8EE9C;
    border-radius: 25px;
    z-index: 5;
    flex-direction: column;
    margin-top: 0;
  }

  .nav-conf {
    display: flex;
    margin-top: 15px;
    margin-right: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: transform 0.3s ease-in-out;
  }

  .nav-conf:hover {
    transform: scale(1.2);
  }

  .nav-conf li {
    margin-top: 3px;  
    margin-left: 25px;   
    font: italic bolder 18px 'Times New Roman', Times, serif;
    transition: transform 0.3s ease-in-out;
  }

  .nav-conf a {
    text-decoration: none;
    color: #5e381a;
    font-weight: bold;
  }

  .nav-conf img {
    width: 25px;
    height: 25px;
  }


/* Responsividade */

@media only screen and (max-width: 1349px) {

    .icones-topo {
      flex-direction: column; /* Alinha os ícones um abaixo do outro em dispositivos móveis */
    }

    .container-menu{
        display: none;
    }

    #menu-topo-icon {
      display: flex;
    }

}

 /* Tablet */

@media only screen and (max-width: 992px) {

    /*Frete*/

    #frete-topo {
        background-color: #723564;
        color: #ffffff;
        margin: 0;
        padding: 5px;
        text-align: center;
        font: italic 13px 'Times New Roman', Times, serif;
    }

    /*Logo*/

    #logo-img img {
        width: 200px; 
        height: 120px; 
        padding: 0;
    }

    /*Icones*/

    .icones-topo {
      flex-direction: column; /* Alinha os ícones um abaixo do outro em dispositivos móveis */
    }

    .login-icon img {
      width: 25px; 
      height: 25px;
  }

  .login-icon p {
    font: bolder italic 15px 'Times New Roman', Times, serif;
  }

  #carrinho-icon img {
    width: 25px; 
    height: 25px;
  }

  #carrinho-icon p {
    font: bolder italic 15px 'Times New Roman', Times, serif;
  }

  #menu-topo-icon img {
    width: 25px; 
    height: 25px;
  }

  #menu-topo-icon p {
    font: bolder italic 15px 'Times New Roman', Times, serif;
  }

    /* Form Login*/

    #meu-dropdown {
        right: 155px;
        bottom: 5px;
      }

    #meu-dropdown ul {
        min-width: 150px;
      }
      
      .drop-conf img {
        width: 15px; 
        height: 15px;
      }
    
      #meu-dropdown ul li {
        font: italic 13px 'Times New Roman', Times, serif;
      }

    /* Navegação Celular*/

    #icon-menu {
        display: block;
    }

    .nav-conf img {
        width: 20px;
        height: 20px;
      }

    .nav-conf li {  
        font: italic bolder 15px 'Times New Roman', Times, serif;
    }
  }
  

  /* Celular */

  @media only screen and (max-width: 606px) {

    /*Frete*/

    #frete-topo {
        background-color: #723564;
        color: #ffffff;
        margin: 0;
        padding: 5px;
        text-align: center;
        font: italic 13px 'Times New Roman', Times, serif;
    }

    /*Logo*/

    .icones-topo {
      margin: 0 0 0 2%;
    }

    #logo-img img {
        width: 150px; 
        height: 100px; 
        padding: 0;
    }

    /*Icones*/

    .icones-topo {
      flex-direction: column; /* Alinha os ícones um abaixo do outro em dispositivos móveis */
    }

    .login-icon img {
        width: 20px; 
        height: 20px;
    }

    .login-icon p {
      font: bolder italic 12px 'Times New Roman', Times, serif;
    }

    #carrinho-icon img {
      width: 20px; 
      height: 20px;
    }

    #carrinho-icon p {
      font: bolder italic 12px 'Times New Roman', Times, serif;
    }

    #menu-topo-icon img {
      width: 20px; 
      height: 20px;
    }

    #menu-topo-icon p {
      font: bolder italic 12px 'Times New Roman', Times, serif;
    }

    /* Form Login*/

    #meu-dropdown {
        right: 145px;
        bottom: 5px;
      }

    #meu-dropdown ul {
        min-width: 140px;
      }
      
      .drop-conf img {
        width: 12px; 
        height: 12px;
      }
    
      #meu-dropdown ul li {
        font: italic 10px 'Times New Roman', Times, serif;
      }

    /* Navegação Celular*/

    #icon-menu {
        display: block;
    }

    .nav-conf img {
        width: 13px;
        height: 13px;
      }

    .nav-conf li {  
        font: italic bolder 10px 'Times New Roman', Times, serif;
    }

    /* Pesquisar */

    form input[type="search"]{
      width: 90%;
      padding: 10px 0 10px 32px;
      background-size: 9px;
      font: italic 9px 'Times New Roman', Times, serif;
    }
  }