@charset "UTF-8";

/* Configuração do Footer */

.container-footer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #723564;
    border-radius: 30px; 
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
    
}

.footer-section p {
    margin: 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    align-items: center;
}

.newsletter-form input[type="email"] {
    width:200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    flex: 1;
    font: italic 16px 'Times New Roman', Times, serif;
}

.newsletter-form button {
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #aa4f95;
    font: italic 16px 'Times New Roman', Times, serif;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s ease-in-out; 
}

.newsletter-form button:hover {
    background-color: #f164d0;
    transform: scale(1.1);
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}
.social-links img {
    height: 40px;
    transition: transform 0.5s ease-in-out;        
}

.social-links img:hover {        
    transform: scale(1.3);
}

.forma-pagamento img{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    height: 110px;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    color: #fff;
    font: italic 16px 'Times New Roman', Times, serif;
}
#titulo-footer {
    color: #CAE6DF;
    font: italic bolder 20px 'Times New Roman', Times, serif;
}
#paragrafo-footer {
    color: white;
    font: italic 18px 'Times New Roman', Times, serif;
    padding-left: 0;
}


/* Responsividade */
/* Tablet */

@media only screen and (max-width: 992px) {

    #titulo-footer {
        font: italic bolder 15px 'Times New Roman', Times, serif;
    }

    #paragrafo-footer {
        font: italic 13px 'Times New Roman', Times, serif;
    }

    .newsletter-form {
        display: block;
        align-items: center;
    }

    .newsletter-form input[type="email"] {
        width:150px;
        margin-bottom: 10px;
        font: italic 13px 'Times New Roman', Times, serif;
    }
    
    .newsletter-form button {
        width: 100px;
        font: italic 12px 'Times New Roman', Times, serif;
    }
    
    .social-links img {
        height: 30px;      
    }

    .forma-pagamento img{
        height: 80px;
    }

    .footer-bottom p {
        font: italic 13px 'Times New Roman', Times, serif;
    }
}

/* Celular */

@media only screen and (max-width: 576px) {

    #titulo-footer {
        font: italic bolder 13px 'Times New Roman', Times, serif;
    }

    #paragrafo-footer {
        font: italic 10px 'Times New Roman', Times, serif;
    }

    .newsletter-form {
        display: block;
        align-items: center;
    }

    .newsletter-form input[type="email"] {
        width:110px;
        margin-bottom: 10px;
        font: italic 10px 'Times New Roman', Times, serif;
    }
    
    .newsletter-form button {
        width: 110px;
        font: italic 10px 'Times New Roman', Times, serif;
    }
    
    .social-links img {
        height: 25px;      
    }

    .forma-pagamento img{
        height: 60px;
    }

    .footer-bottom p {
        font: italic 10px 'Times New Roman', Times, serif;
    }
}